@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --very-bold: 900;
    --bold: 800;
    --light: 300;
    --shoulders-font: 'Big Shoulders Display', cursive;
    --outfit-font: 'Outfit', sans-serif;

    /* Colors */
    --gold: #D5966C;
    --almost-black: #151515;
    --dark-gray: #444444;
    --white: #FFFFFF;

    --heading-xl: 6rem; /*96px*/
    --heading-l: 4.375rem; /*70px*/
    --heading-m: 3.75rem; /*60px*/
    --heading-s: 2.25rem; /*36px*/
    --heading-50: 3.125rem; /*50px*/
    --body-m: 1.375rem; /*22px*/
    --body-s: 1.125rem; /*18px*/
}

/* Temporary */
.icon{
    background-color: black;
}
img{
    background-color: var(--gold);
}


body{
    width: 100%;
    padding: 0;
    margin: 0;
   
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-transform: uppercase;
    font-weight: var(--very-bold);
}
.line2{
    display: inline-block;
}
.image-header{
    min-height: 15rem;
}

footer{
    width: 100%;
    background-color: var(--almost-black);
    color: var(--white);
    display: flex;
    justify-content: center;
}

.text-header{
    font-family: var(--shoulders-font);
    font-size: var(--heading-m);
    color: var(--almost-black);
}



.block-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 248px;
}

.container, .text-header, .footer-cls{
    width: 21.4375rem;
}

.container p{
    font-family: var(--outfit-font);
    font-size: var(--body-s);
    font-weight: var(--light);
    color: var(--dark-gray);
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block h2, .block p{
    width: 18.4375rem;
    height: 5.625rem;
}

.block h2{
    font-family: var(--shoulders-font);
    font-size: var(--heading-50);
}

footer{
    display: flex;
}
.footer-cls h2{
    width: 6.875rem;
    height:2.5rem;
    font-size: 10px;
}
.footer-cls p{
    
    font-family: var(--outfit-font);
    font-size: 1rem;
    font-weight: var(--light);
    color:var(--white);
}


/* Button styling */
.button-cls{
    display: inline-flex;
    align-items: center;
}
.button-img{
    background-color: var(--gold);
    width: 3.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;  
    justify-content: center; 
}
.button-cls a{
    font-size: 1.25rem;
    font-family: var(--shoulders-font);
    font-weight: var(--bold);
    background-color: var(--almost-black);
    color: var(--white);
    width: 12.75rem;
    height: 4.5rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
/* */

/* different color blocks*/
.block-w{
    background-color: var(--white);
    color: var(--almost-black);
}
.block-b{
    background-color: var(--almost-black);
}
.block-b p, .block-b h2{
    color: var(--white);
}
