@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root{
    --very-bold: 900;
    --bold: 800;
    --light: 300;
    --shoulders-font: 'Big Shoulders Display', cursive;
    --outfit-font: 'Outfit', sans-serif;

    /* Colors */
    --gold: #D5966C;
    --almost-black: #151515;
    --dark-gray: #444444;
    --white: #FFFFFF;

    --heading-xl: 6rem; /*96px*/
    --heading-l: 4.375rem; /*70px*/
    --heading-m: 3.75rem; /*60px*/
    --heading-s: 2.25rem; /*36px*/
    --heading-50: 3.125rem; /*50px*/
    --body-m: 1.375rem; /*22px*/
    --body-s: 1.125rem; /*18px*/
}

p{
    font-family: var(--outfit-font);
}
h2, h3{
    font-family: var(--shoulders-font);
    font-weight: var(--bold);
    text-transform: uppercase;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    min-width:23.4375rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.button-cls{
    position: absolute;
    left: 0;
    top:0;
}
/* Button styling */
.button-cls a{
    display: inline-flex;
    text-decoration: none;

}
.button-cls p{
    background-color: var(--almost-black);
    color: var(--white);
    width: 12.75rem;
    height: 3.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: var(--shoulders-font);
    font-weight: var(--bold);
    letter-spacing: 0,2275rem;
    font-size: 1.25rem;
}
.button-img{
    background-color: var(--gold);
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-cls a:hover{
    cursor: pointer;
}

.map{
    min-width: 100vw;
}

main{
    width: 100%;
    height: 493px;
    background-color: var(--almost-black);
    color: var(--white);

    display: flex;
    justify-items: space-around;
    justify-content: center;
}

.main-cls{
    width: 343px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main p{
    font-size: 1.125rem; 
}

main h2{
    font-size: var(--heading-50);
    margin: 0;
}
main h3{
    font-size: 2rem;
    color: var(--gold);
    margin: 0;
}
.address{
    line-height: 0.5rem;
    min-height: 5.25rem;
}


/* footer styles*/
footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 21rem;
    background-color: var(--gold);    
    font-size: 1rem;
    font-weight: var(--light);
    color: var(--almost-black);
    line-height: 1.75rem;
}
.footer-cls{
    width: 311px;
}


.logo{
    width: 6.875rem;
    height:2.5rem;
    margin: 0;
}
.social{
    width: 6.25rem;
    display: inline-flex;
    justify-content: space-between;
}



@media screen and (max-width: 767px) {
    .mobile{
        display: block;
    }
    .desktop, .tablet{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .mobile, .desktop{
        display: none;
    }
    .tablet{
        display: block;
    }
    
    .social{
        height: fit-content;
        justify-content: space-between;
    }

    footer p{
        width: 281px;
        margin: 0;
    }
    

}